.ub {
    display: -webkit-box !important;
    display: box !important;
    position: relative;
}

.ub-f1 {
    position: relative;
    -webkit-box-flex: 1;
    box-flex: 1;
}


/*select*/

.zx_mask {
    overflow: hidden;
    font-size: .36rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: 999999;
}

.zx_select {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /*height: 4.4rem;*/
    height: 0;
    width: 100%;
    color: #333;
    background: #D1D5D8;
    z-index: 9999999;
    -webkit-transition: 300ms all;
    transition: 300ms all;
    font-size: 18px;
}

.zx_select>header {
    overflow: hidden;
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    background: #F0F1F2;
    -webkit-box-shadow: 0 0 8px #333;
    -moz-box-shadow: 0 0 8px #333;
    box-shadow: 0 0 8px #333;
}

.zx_select>header>h1 {
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
}

[data-dpr="2"] .zx_select>header>h1 {
    font-size: 36px;
}

[data-dpr="3"] .zx_select>header>h1 {
    font-size: 54px;
}

.zx_select>header>button {
    font-size: 16px;
    height: 1rem;
    padding: 0 .1rem;
    border: none;
    outline: none;
    color: #c60a1e;
    background: #F0F1F2;
}

[data-dpr="2"] .zx_select>header>button {
    font-size: 32px;
}

[data-dpr="3"] .zx_select>header>button {
    font-size: 48px;
}

.zx_select button.nav_left {
    float: left;
}

.zx_select button.nav_right {
    float: right;
}

.zx_select>p {
    width: 100%;
    line-height: .3rem;
    text-align: center;
    font-size: .36rem !important;
}

.zx_select>p>span {
    display: block;
}


/*列表*/

.zx_select>div {
    overflow: hidden;
    position: relative;
    height: 4.5rem;
    text-align: center;
}

.zx_select>div>div.ub-f1 {
    max-width: 100%;
    min-width: 100%;
}

.zx_select ul {
    line-height: 1rem;
}

.zx_select ul>li {
    height: 1rem;
    color: #2A2B2C;
    padding: 0 .1rem !important;
    margin: 0 !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/*.zx_select ul > li:first-child {*/


/*padding-top: 80px;*/


/*}*/


/*.zx_select ul > li:last-child {*/


/*padding-bottom: 80px;*/


/*}*/

.zx_select .sel_middle {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1rem;
    margin-top: -.3rem;
    pointer-events: none;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}

.zx_select .sel_top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2rem;
    pointer-events: none;
    background: rgba(209, 213, 216, 0.7);
}

.zx_select .sel_bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.5rem;
    pointer-events: none;
    background: rgba(209, 213, 216, 0.7);
}